{% extends 'admin/layout.html' %} {%block content%}

<form action="/api/snack" method="post" enctype="multipart/form-data">
  <label for="img">간식!</label>
  <input type="file" id="image" name="image" , accept="image/*" />
  <input type="submit" value="제출" />
</form>

<form action="/api/notice" method="post" enctype="multipart/form-data">
  <label for="img">급식표!</label>
  <input type="file" id="notice" name="notice" , accept="image/*" />
  <input type="submit" value="제출" />
</form>

<form action="schedule/inform" method="post">
  <label for="dDay">D-day!</label>
  <input
    type="text"
    id="dDayName"
    name="dDayName"
    placeholder="이름(ex-기말)"
  />
  <input
    type="text"
    id="dDay"
    name="dDay"
    placeholder="양식 예시: 2023-07-09"
  />
  <input type="submit" value="제출" />
</form>

{%endblock%} {% block script %}
<script>
  function getSchedule() {
    axios.get("").then((res) => {});
  }

  getSchedule();
</script>
<script></script>
{% endblock %}
